// _utilities.scss

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}