/**
 * @file Header.module.scss
 */
.header {
  background: #000;
  color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid #333;

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-weight: 800;
    letter-spacing: -1px;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    span {
      color: #2563eb;
    }
  }

  .status {
    font-family: monospace;
    font-size: 0.75rem;
    color: #4ade80;
  }
}
