.tab {
  &__container {
    position: relative;
    top: 0rem;
    background-color: var(--white, #fff);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f9f9;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    isolation: isolate;
    padding: 2rem;
    @media (max-width: 600px) {
      padding: 0.5em 0;
    }

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }
  
  select {
    background-color: var(--gray-100);
    width: 100%;
    border: none;
    padding: 0.7em;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
  }
}

.category {
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0.3em;
  box-shadow: var(--shadow-xs);
  cursor: pointer;
  transition: all 0.2s var(--transition-soft);
  user-select: none;

  &:hover {
    background-color: var(--gray-200);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }
}

.app {
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: var(--shadow-xs);
  cursor: help;
  transition: all 0.2s var(--transition-soft);
  user-select: none;

  &:hover {
    border-color: var(--network-color-primary);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  &__body {
    padding: 0.7em;
  }

  a {
    color: var(--blue-400);
  }

  &__icon {
    background-color: var(--gray-50);
    padding: 0.8rem;
    border-radius: 12px;

    img {
      aspect-ratio: 1/1;
      --r: 24px;
      width: var(--r);
      height: var(--r);
    }
  }

  small {
    font-weight: 500;
    border-radius: 1000px;
  }

  a {
    background-color: var(--gray-100);
    color: var(--black);
    padding: 6px 12px;
    will-change: transform;
    font-size: 11px;
    border: none;
    border-radius: 1000px;

    &:hover {
      transform: scale(1.015);
      transition: all 0.3s ease-in-out;
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s ease;
    }
  }
}
