.page {
  &__container {
    position: relative;
    top: 0rem;
    border: 1px solid #f7f9f9;
    background-color: var(--white, #fff);
    border-radius: var(--global-border-radius);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    isolation: isolate;

    @media (max-width: 600px) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      border: none;
      filter: none;
      border-radius: unset;
    }
  }

  a {
    color: var(--blue-600);
  }

  table {
    tr {
      th,
      td {
        text-align: left;
      }
    }
  }
}

.network {
  position: relative;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.2s var(--transition-soft);
  isolation: isolate;

  &__body {
    padding: 4rem;
    @media (max-width: 600px) {
      padding: 1em 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 90px;
      background-color: var(--bg-color);
      @media (max-width: 600px) {
        height: 40px;
      }
    }
  }

  &__icon {
    background-color: var(--white);
    border: 2px solid var(--white);
    box-shadow: var(--shadow-10);
    overflow: hidden;
    z-index: 1;

    svg {
      --r: 48px;
      width: var(--r);
      height: var(--r);
    }
  }
}

// Shimmer
.shimmer {
  padding: 1.2rem;
  border-radius: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Styles for dark color theme. */
@media (prefers-color-scheme: dark) {
}
