/* 1. LIGHT DEFAULT (The base theme) */
:root {
  --foreground: #000;
  --background: #fff;
}
/* 2. SYSTEM DARK MODE (Applies automatically if OS is set to dark) */
// @media (prefers-color-scheme: dark) {
//   :root {
//         --foreground: #f0f0f0;
//     --background:  radial-gradient(99.46% 99.46% at 50% 0.54%, #061A35 0%, #060608 100%);;

//   }
// }

/* 3. MANUAL DARK MODE OVERRIDE (Applies when the button is clicked) */
// .dark {
//   --foreground: #f0f0f0; /* Dark mode colors */
//   --background: #1a1a1a;
// }

/* --- ::selection Rule (Must be top-level) --- */
::selection {
  color: var(--white);
  background-color: var(--color-primary);
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--gray-200);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); //var(--black-200);
  background-clip: padding-box;
  border: 2px solid #0000;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 100vh;
}

.no-scroll {
  overflow: hidden;
}

.pointer-events-none {
  pointer-events: none;
}

button {
  border: unset;
  background-color: unset;
}

// Details
details {
  cursor: pointer;
}

details::details-content {
  opacity: 0;
  transition:
    opacity 400ms,
    content-visibility 400ms allow-discrete;
}

details[open]::details-content {
  opacity: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;

  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
}

body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-system) !important;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.pointer {
  cursor: pointer;
}

.rounded,
.rounded-full {
  border-radius: 9999px;
}

.debug {
  border: 1px solid red;
}

// .ms-motion-slideDownIn {
//   animation-name: slideDownIn;
//   animation-duration: 0.5s;
//   animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
//   animation-fill-mode: forwards;
// }

// @keyframes slideDownIn {
//   0% {
//     opacity: 0;

//    // transform: translateY(-10px);
//   }
//   100% {
//     opacity: 1;

//    // transform: translateY(0);
//   }
// }

.relative {
  position: relative;
}

.d-block {
  display: block;
}
