.page {
  height: inherit;
  user-select: none;

  &__container {
    position: relative;
    padding: 4rem 0;
    border-radius: var(--global-border-radius);
    isolation: isolate;

    @media (max-width: 600px) {
      box-shadow: unset;
      border-radius: unset;
      border: unset;
      padding: unset;
    }
  }

  code {
    background-color: rgba($color: #fff, $alpha: 0.05);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
  }

  button,
  label,
  input[type='checkbox'] {
    cursor: pointer;
    outline: none;
  }

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
  }

  a {
    color: var(--blue-light-500);
  }
}

.header {
  padding: 1rem;
  user-select: none;
  figure {
    img {
      width: 32px;
    }
  }
}

.sparkContainer {
  background-color: #000000;
  color: var(--white);
  position: relative;
  overflow: hidden;
}

.beta {
  background-color: rgba($color: #ff0000, $alpha: 0.2);
  color: var(--color-primary);
  cursor: help;
  padding: 1px 6px;
  border: 1px solid var(--red-900);
}
.statusBar {
  border: 1px solid var(--black-900);
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  small {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: var(--black-600);
  }
}
.actionButton {
  width: 100%;
  max-width: 300px;
  font-weight: 500;
  height: 40px;
  border: unset;
  border-radius: var(--global-border-radius);
  will-change: transform;
  transition: transform 0.2s ease;
  user-select: none;

  &:active {
    transform: scale(0.95);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.browser {
  border: 1px solid var(--red-900);
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(255, 0, 0, 0.5);
}

.browser__dots {
  display: flex;
  gap: 0.5rem;
}

.browser__dots span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--red-900);
}

.browser__address {
  font-size: 12px;
  color: var(--red-900);
}

.createButton {
  margin-top: 1rem;
  color: var(--white, #fff);
  background: linear-gradient(90deg, #0844ff 10%, #64b8fb 100%);
}

.importButton {
  margin-top: 0.5rem;
  color: var(--white, #fff);
  background: #0b0c11;
  border: 1px solid #171c26;
}

.tour {
  figure {
    width: 128px;
    height: 128px;
    aspect-ratio: 1/1;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    text-align: center;
    max-width: 400px;
    text-wrap: balance;
    color: var(--gray-600);
  }
}

.pagination {
  margin-top: 1em;

  p,
  span {
    border-radius: 1000px;
    background-color: var(--gray-100);
  }

  p {
    color: var(--black);
    font-weight: 500;
    padding: 0.2em 1em;
    font-size: 11px;
    cursor: help;
  }

  span {
    display: block;
    min-width: 0.7em;
    height: 0.7em;
    line-height: 1;
    transition: all ease-in-out 0.25s;

    &.active {
      width: 24px;
      background-color: var(--gray-300);
    }
  }
}

.tourButton {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  height: 38px;
  width: 38px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  border-radius: 1000px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.1s ease;

  &:active {
    transform: translateY(-50%) scale(0.94);
  }
}

.nextButton {
  right: 1rem;
}

.preveiuosButton {
  left: 1rem;
}
