.page {
  height: 100%;

  &__container {
    position: relative;
    top: 0rem;
    background-color: var(--white, #fff);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f9f9;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    isolation: isolate;
    line-height: 2;
    padding: 2rem;

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }

  a {
    color: var(--blue-light-600)
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(100%);
  }
}
