@use './../styles/components/responsive' as *;

.aside {
  grid-row: 1/1;
  grid-column: 1/1;
  width: 80px;
  isolation: isolate;
  background-color: var(--gray-50);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100svh;
  z-index: 1;

  @media (max-width: 639px) {
    display: none !important;
  }

  &__container {
    height: inherit;
    position: relative;
    top: 0rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    border: 1px solid #f7f9f9;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    isolation: isolate;

    @media (max-width: 600px) {
      border: none;
      filter: none;
      border-radius: unset;
    }
  }

  h3 {
    font-weight: normal;
  }

  ul {
    height: 100%;
    padding: 0.7rem 1.5rem;

    @media (max-width: 600px) {
      padding: 0.7rem 0.7rem;
    }
  }

  button {
    --r: 24px;
    width: var(--r);
    height: var(--r);
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    box-shadow: var(--global-box-shadow);
    cursor: pointer;
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .aside {
    button {
      will-change: transform;
      transition: transform 0.2s allow-discrete;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
