.heroSection {
  position: relative;
  overflow: hidden;
  isolation: isolate;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 30svw;
    height: 10svh;

    z-index: -1;
  }

  a {
    background-color: rgba($color: #ff0000, $alpha: 0.1);
    color: var(--color-primary);
    cursor: help;
    padding: 1px 10px;
    border: 1px solid rgba($color: #ff0000, $alpha: 0.2);
    border-radius: var(--global-border-radius);
    will-change: transform;
    transition: transform 0.2s ease;
    user-select: none;
    margin: 0 auto;
    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background-color: rgba($color: #ff0000, $alpha: 0.15);
      border-color: rgba($color: #ff0000, $alpha: 0.4);
    }
  }

  h1 {
    font-size: 2.4em;
    font-weight: bold;
    padding: 1rem 0 0 0;
    padding: 1rem;
    border-radius: var(--global-border-radius);
    will-change: transform;
    transition: transform 0.2s ease;
    user-select: none;

    &:active {
      transform: scale(0.95);
    }

    span {
      color: var(--color-primary);
    }
  }

  small {
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 200;
    color: #52667a;
    text-align: center;
    text-wrap: balance;
    max-width: 480px;
    margin: 0 auto;
  }
}
