.globalLoader{
  position: fixed;
  inset: 0;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: var(--white, #FFF);
  z-index: 9999;
  isolation: isolate;
}

// Loading
.loading {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  z-index: 999;
  isolation: isolate;
  overflow: hidden;

  &__container {
    max-width: 115px;
    row-gap: 0.4rem;
    overflow: hidden;

    figure {
      width: 4rem;
      img {
        width: 100%;
      }
    }

    >div {
      margin-top: 1rem;
      width: 100%;
      height: 3px;
      background-color: var(--black-050);

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: var(--color-primary);
        animation: progress 1.5s infinite ease-in-out;
      }
    }
  }
}

@keyframes progress {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    right: 0;
    width: 0;
  }
}

.inline-loading {
  svg {
    width: 18px;
    height: 18px;
  }
}